<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="my-element">
    <div style="margin:10px" >

        <img src="assets/images/2.jpg" style="width: 15rem; height:15rem; border-radius: 25px;" alt="KCO logo">

    </div>

    <div class="who"  >
      <h6 style="margin:0px;">Hey, I'm Kerem Can Özcan</h6>
    </div>
    <div class="what">
      <h6>Forever learner & full-stack developer</h6>
    </div>
    <div class="work">
      <h6>Currently working at <a href="/"> Patika Global Tecnology in İstanbul </a>, Turkey!</h6>
    </div>
    <div class="links"></div>
    <div class="links1" style="text-align: center ;"></div>
    <div class="links2"></div>
  </div>

</body>
</html>
